.nav-style {
  border-bottom: 1px solid #dbdbdb;
  padding: 6.5px;
}

.card-header {
  background-color: white !important;
}

.logo:active {
  opacity: 0.4;
}

.header-icon {
  background: 0 0;
  border: 0;
  cursor: pointer;
  justify-content: center;
}

.dd-menu {
  top: 130%;
  border: none !important;
  box-shadow: 0 0 5px 1px rgb(0 0 0 / 10%);
}

.dd-menu-punta {
  bottom: 0;
  top: -6px;
  left: 14px;
  background: #fff;
  border: 1px solid #fff;
  bottom: -6px;
  height: 14px;
  position: absolute;

  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 14px;
}

.user-select {
  border: 1px solid #262626;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.border-transparent {
  border-color: transparent !important;
}

.optselect:active {
  background-color: rgba(137, 137, 137, 0.25) !important;
  color: #262626;
}

.optselect:hover {
  background-color: rgba(137, 137, 137, 0.05) !important;
}

@-webkit-keyframes LoadingBarProgress {
  0% {
    background-position: 0% 0;
  }
  to {
    background-position: 125% 0;
  }
}
@keyframes LoadingBarProgress {
  0% {
    background-position: 0% 0;
  }
  to {
    background-position: 125% 0;
  }
}
@-webkit-keyframes LoadingBarEnter {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
@keyframes LoadingBarEnter {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
.LoadingBar {
  height: 3px;
  background: #27c4f5
    linear-gradient(to right, #27c4f5, #a307ba, #fd8d32, #58c322, #27c4f5);
  background-size: 500%;
  animation: 2s linear infinite LoadingBarProgress,
    0.5s ease-out LoadingBarEnter;
  transform-origin: left;
  width: 100%;
}
